In [1]:
import pandas as pd

In [2]:
import env

In [3]:
import os

In [4]:
import acquire

In [5]:
from acquire import get_telco_data

In [6]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [7]:
df = get_telco_data()

In [8]:
df.head()

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
1,1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,...,Yes,Yes,Yes,Yes,69.4,571.45,No,Month-to-month,DSL,Credit card (automatic)
2,2,1,1,1,0015-UOCOJ,Female,1,No,No,7,...,No,No,No,Yes,48.2,340.35,No,Month-to-month,DSL,Electronic check
3,3,1,1,1,0023-HGHWL,Male,1,No,No,1,...,No,No,No,Yes,25.1,25.1,Yes,Month-to-month,DSL,Electronic check
4,4,3,1,1,0032-PGELS,Female,0,Yes,Yes,1,...,No,No,No,No,30.5,30.5,Yes,Month-to-month,DSL,Bank transfer (automatic)

In [9]:
import prepare

In [10]:
from prepare import prep_telco

In [11]:
df = prep_telco(df)

In [12]:
df.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,male,partner,dependents,phone_service,no_phone_service,...,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check,online_backup
0,0003-MKNFE,0,9,59.9,542.40,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,0013-MHZWF,0,9,69.4,571.45,0,0,1,1,0,...,1,1,0,0,0,0,1,0,0,0
2,0015-UOCOJ,1,7,48.2,340.35,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
3,0023-HGHWL,1,1,25.1,25.10,1,0,0,0,1,...,0,1,1,0,0,0,0,1,0,0
4,0032-PGELS,0,1,30.5,30.50,0,1,1,0,1,...,0,0,1,0,0,0,0,0,0,0

In [13]:
from prepare import split

In [14]:
train, validate, test = split(df)

In [15]:
train.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,male,partner,dependents,phone_service,no_phone_service,...,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check,online_backup
6058,0788-DXBFY,0,58,19.55,1108.80,1,1,1,1,0,...,0,1,0,1,0,0,0,1,0,0
4085,7668-XCFYV,1,17,92.55,1614.70,0,1,0,1,0,...,1,1,0,0,0,1,0,1,0,0
3497,4971-PUYQO,0,27,94.55,2724.60,0,0,0,1,0,...,1,1,1,0,0,1,0,0,1,0
4271,8696-JKZNU,1,37,76.25,2841.55,0,0,0,1,0,...,0,1,1,0,0,1,0,1,0,0
2672,1196-AMORA,0,7,73.60,520.00,1,0,0,1,0,...,0,0,1,0,0,1,0,1,0,0

In [16]:
train.shape

(3943, 26)

In [17]:
validate.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,male,partner,dependents,phone_service,no_phone_service,...,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check,online_backup
4111,7831-QGOXH,0,18,85.20,1553.90,0,0,0,1,0,...,0,1,1,0,0,1,0,1,0,0
616,5012-YSPJJ,0,31,54.35,1647.00,1,1,1,1,0,...,0,0,0,0,0,0,0,0,1,0
6074,1085-LDWAM,0,69,20.35,1442.65,0,1,1,1,0,...,0,1,0,1,0,0,1,0,0,0
1737,9052-DHNKM,0,26,61.55,1581.95,1,0,0,1,0,...,0,0,0,1,0,0,0,1,0,1
97,0870-VEMYL,0,5,53.85,259.80,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0

In [18]:
validate.shape

(1691, 26)

In [19]:
test.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,male,partner,dependents,phone_service,no_phone_service,...,streaming_movies,paperless,churn,one_year,two_year,fiber_optic,credit_card,electric_check,mailed_check,online_backup
2317,8313-AFGBW,0,47,73.60,3522.65,1,1,0,1,0,...,1,0,0,0,1,0,0,1,0,1
1512,5073-RZGBK,0,50,80.05,4042.20,0,1,1,1,0,...,1,1,0,1,0,0,0,0,0,1
3533,5136-GFPMB,0,54,89.40,4869.50,1,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
2078,4940-KHCWD,0,60,37.70,2288.70,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,1
4254,8617-ENBDS,0,3,73.60,232.50,1,0,0,1,0,...,0,1,0,0,0,1,1,0,0,0

In [20]:
test.shape

(1409, 26)